// --------default settings (global styles)---------- //
.c{
  background-color:rgb(118, 207, 173);
}
// default reset settings
* {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
    box-sizing: border-box;
  }
  body {
    font-weight: normal;
  }
  .title{  
    font-family:$secondary-font;
  }
  .text{
    letter-spacing: .05rem;
     font-family:$primary-font; 
  }
// state
//active-inactive nav bar
#body-active{
  transition:all ease-out .15s;
  background-color: rgba(0,0,0,.5);
  filter: blur(.4px);
}
//   color classes


