.button-main {
		&-button {
			z-index:200;
			cursor: pointer;
			color: white;
			border: none;
			border-radius: .2em;
			font-weight: 600;	
		}
	}
	.normal {
		font-size: 2rem;
		padding: .3rem .5rem;
	}
	.large {
		font-size: 1rem;
		padding: .5rem .5rem;
	}
	.xlarge {
		font-size: 1.4rem;
		padding: .6rem .7rem;
	}
	.pink {
		box-shadow: 2px 5px 25px 0px rgba(236,72,153, .5);
		background-color: $primary-color-hover;
		transition: all .4s ease-in;     
		&:hover {
			background-color: rgb(255, 101, 178);
			box-shadow: 1.5px 4px 22px 0px rgba(255, 101, 178, 0.5)
		}
	}
	.blue {
		box-shadow: 2px 5px 25px 0px rgb(7, 148, 243);
		background-color: rgb(7, 148, 243);
		transition: .4s all;
		&:hover {
			background-color: rgb(57, 174, 252);
			box-shadow: 1.5px 4px 22px 0px rgb(57, 174, 252);
		}
	}

	@media(min-width:768px){	
		.large {
			font-size: 1.2rem;
			padding: .63rem .6rem;
		}
		.xlarge {
			font-size: 1.4rem;
			padding: .6rem .7rem;
		}
	}
