.testbuttons{
    display:flex;
    justify-content: center;
          &-button {
              min-width:8rem;
              margin: 1.5rem 2.54rem;
              cursor: pointer;
              color: white;
              border: none;
              border-radius: .2em;
              font-weight: 600;
          }
  }

@media(min-width:769px){
    .testbuttons{
        &-button {      
            margin: 1.5rem 3rem;
        }
    }
}