.answerInput{
    input{
        font-family: $primary-font;
        display:flex;
        margin: 0 auto;
        padding-top:1rem;
        border:none;
        color:black;
        width:100%;
        height:100%;
        &:focus{
            outline: none;
        }
        // anything below input is the +
        &:focus + .label-name .cardanswer-contentname, 
        &:not(:placeholder-shown) + .label-name .cardanswer-contentname{
            transform:translateY(-120%);
            font-size: 1rem;
            color:$primary-color;
        }
        &:focus + .label-name::after, 
        .form input:valid + .label-name::after{
            transform: translate(0%)
        }
    }
    .form{
        margin: 0 auto;
        position:relative;
        overflow: hidden;
        width:50%;
        height:3.5rem;
        font-family: $primary-font;
        label{
            pointer-events: none;
            position:absolute;
            bottom: 0px;
            font-size: .8rem;
            left:0%;
            border-bottom: 1px solid black;
            height:100%;
            width:100%;
            color:black;
                &::after{
                content:'';
                position:absolute;
                height:100%;
                width:100%;
                left:-1px;
                bottom:-2px;
                border-bottom:2px solid $primary-color;
                transform: translateX(-100%); 
                transition: transform .3s ease;
            }
        }
    }
    &-contentname{
        position:absolute;
        bottom:10px;
        transition:all .3s ease;
    }
}

@media(min-width:768px){
    .answerInput{
        background-color: red;
        input{
        .form{
            width:50%;
            height:4.5rem;
            margin-bottom: 9rem;
            label{
                font-size: 2rem;
            }
        }
    }
}
}
