.articles{
    background-color: $test-blue;
    padding:1.5rem 1rem 3rem;
    font-family: $primary-font;
    h1{
        margin-bottom: .5rem;
        font-family: $link-font;
    }
    h2 {
        font-size:.7rem;
        margin-bottom: 2rem;
        color:$secondary-color-hover
    }
    h3{
        margin-bottom: .5rem;
        font-size: 1.2rem;
    }
    label{
        display:flex;
        align-items: flex-start;
        padding-right: 0rem;
        justify-content: space-between;
    }
    p{
        font-weight: 600;
        font-size:.6rem;
        color:$secondary-color-hover
    }
    li{
        height:7.5rem;
        color:black;
        span{
            font-size:.8rem;
        }
    }
    &-item{
        background-color: white;
        padding:.5rem 1rem;
        border-radius: 8px;
        box-shadow: $shadow-light;
    }
    button{
        cursor: pointer;
        color:$primary-color-hover;
        font-size: .7rem;
        left:3rem;
        top:.3rem;
        position:relative;
        padding:.3rem;
        border-radius: 3px;
        background-color: white;
        border:1px solid $primary-color-hover;
    }
}

@media(min-width:700px){
    .articles{
        h1{
            font-size:2rem;
        }
        h2 {
            font-size:1rem;
        }
        h3{
            margin-bottom: .5rem;
            font-size: 1.5rem;
        }
        li{
           
            color:black;
            span{
                font-size:1rem;
            }
        }
    button{
        font-size: 1rem;
        left:35vw;
    }
}
}

@media(min-width:1100px){
.articles{
    li{
        padding-top: 1rem;
    }
    p{
        font-size:1rem;
    }
    button{
        left:80vw;
    }
}
}