.test{
    background-color: $test-blue;
    padding-top: 1rem;   

}

.test-active{
    padding-top: 1rem;
    background-color: rgb(149, 191, 199); 
}

@media(min-width:1130px){
    .test-container{
        display:flex;
    }
}

