.description{
    font-family: $primary-font;
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column; 
    align-items: center;
    justify-content: center;
    height:92vh;
    &-bg{
    background-position:-0vw 15vh;
    z-index:0;
    background-size: 65%;
    background-color:black;
    &-extra{
        text-align: center;
    }
}
    &-text{
        color:white;
        text-align: center;
    } 
}

@media(min-width:1030px){
    .description{
        font-family: $primary-font;
        display:flex;
        flex-wrap: nowrap;
        flex-direction:column; 
        align-items: center;
        justify-content: center;
        height:92vh;
        margin-left: 85vw;
}
}


.banner{ 
    width:100vw;
    z-index:-20;
    &-logo{
        height:2.5rem;
        margin-top:5rem;
    }
    &-bg{
        background-position:40vw 5.4vh;
        z-index:0;
        background-size: 65%;
        background-color:black;
    }  
    &-container{
        label{
            margin-top: 1rem;
            font-family: $primary-font
        }
        display:flex;
        flex-wrap: nowrap;
        flex-direction:column; 
        align-items: center;
        justify-content: center;
        height:92vh;
        &-hr{
            margin: 1vh auto;
            width: 30vw;
        }
    & *{
        color:white;
    }
    h1{
        width:60vw;
        text-align: center;
        font-size:2em;
        letter-spacing:.05rem;
        font-weight:500
    }
    .title-extra{
        text-decoration: underline;
        width:60vw;
        text-align: center;
        font-size:1.8em;
        font-family: $secondary-font;
        letter-spacing:.05rem;
        font-weight:500
}
    p{
        font-size:1.2rem;
        width:66vw;
        letter-spacing:.2px;
        line-height: 2rem;
        text-align: center;
        margin-top:.1rem;
        margin-bottom:1.4rem;
        font-weight:500
    }
    }   
}
.inverse-logo{
        position: relative;
        top:1vh;
}
@media(min-width:768px){   
    .inverse-logo{
      display:None;
    }
    .banner{
    &-logo{
        display:none
    }
        &-bg{
            background-position:20vw 3.4vh;
            background-size: 65%;
            box-shadow: $shadow-light;
        }   
        &-container{
            width:45vw;
            margin-left: 10vh;
            height:92vh;
            &-hr{
                margin: 1.5vh auto;
                width: 14vw;
            }
        h1{
            font-size:4em;
            width:50vw;
        }
        .title-extra{
            font-size:2.8em;
            width:50vw;
            margin-bottom: -1rem;
    }
        p{
            width:25vw;
            font-size:1.6rem
        }   
    }
    }
    }
    .buttonx{
        z-index:20000;
    }

    @media(min-width:1480px){
        .banner{
            &-container{
            h1{
                font-size:5em;
                margin-bottom: 1rem;;
                max-width:50vw;
                line-height: 5rem;
            }
            .title-extra{
                font-size:2.8rem;
                margin-bottom: 0rem;
                max-width:50vw;
                line-height: 5rem;         
        }
            p{
                width:30rem;
                line-height: 2.5rem;
                font-size:2.2rem
            }   
        }
        }
  }