.stripe-banner{  
    position:static;
    font-size: 1rem!important;
    font-family:$secondary-font;
}

.stripe-icon{
    height:2.3rem; 
    top:.6rem; 
    right:8.5rem;
    position:relative
}



.blackbar{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    color:white;
    padding:4vh 0vh;
    box-shadow: $shadow;
    img{
        width:10.5rem
    }
& h1{
    font-size:2rem;
}
& p{
    font-size:1.8rem;
    margin-bottom: 1rem;
    margin-top:.5rem
}
& p:last-child{
    font-size:1.8rem;
    padding: 1vh 0vh;
}
& span{
    color:$primary-color
    }
}

@media(min-width:768px){
    .blackbar{
        img{
            width:14.5rem
        }
    & h1{
        font-size:2.7rem;
    }
    & p{
        margin-top:.5rem;
        margin-bottom:1rem;
    }
    
}
}
@media(min-width:1030px){
    .stripe-banner{  
        font-size:1.2rem;
        position:relative;
        bottom:3rem;
        left:7rem;
    }
    .stripe-icon{
        height:4rem; 
        top:1rem; 
        right:3rem;
        position:relative
    }
}