
.column{
        background-color: black;
        display:flex;
        flex-wrap: wrap;
        box-shadow: $shadow;
        justify-content: space-between;
        padding-top: 2.8vh;
        padding-bottom: 21rem;
        padding:0rem 1.5rem; 
    &-card{            
        padding:0rem 0em; 
    }
    &-title{
        font-size:1.5rem;
        font-weight:600;
        color:white;
        margin-top: 1rem;
    }
    &-text{
        color:white;
        width:90vw;
        margin-top: .5rem;
        font-size:1rem;
        letter-spacing: .05rem;
        font-weight:400;
    }
    p{
        margin-bottom: 1.5rem;
    }

}
@media(min-width:768px){
.column{
    &-title{
        font-size:1.8rem;
    }
}
}
@media(min-width:1030px){
    .column{
        padding-top: 2.8vh;
        padding:0rem 8rem; 
        
        &-text{
            width:23vw;
        } 
        &-card{            
            padding:2.5rem 0em; 
        }
        &-title{
            margin-top: .5rem;
        }
        p{
            margin-bottom: 0rem;
        }
    }
}
@media(min-width:1400px){
    .column{
        &-title{
            font-size:2.3rem
        }
        &-text{
            font-size:1.1rem;
            line-height:22px;
        }
    }
    }

@media(min-width:1620px){
.column{
    &-title{
        font-size:2.8rem
    }
    &-text{
        font-size:1.3rem;
    }
}
}