.split{
    margin: 0rem 0rem;
    font-family: $primary-font;
    z-index:-20;
    display:flex;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-piece{
        box-shadow: $shadow;
        text-align: center;
        margin: 1rem 0rem;
        display:flex;
        padding:1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            width:95%;
            font-weight: 600;
            margin:1rem 0rem .5rem 0rem;
       }
        h1{
            font-size:1.8rem;    
            width:90%;
            margin: 1rem 0rem;  
        }
    }
        &-left{
            color:white;
            background-color: black;
            margin: 1.5rem 1rem 0rem 1rem;
            &-image{             
            background-color: $test-blue;
            height: 20rem; 
            }
            img{
                position:relative;
                top:1.2rem;
                width:300px;
                object-fit: contain;    
                height: 20rem; 
            }
      
        }
        &-right{ 
            margin: 1.5rem 1rem;
            background-color: black;
            color:white;
            &-image{
              height:20rem;
              background-color: $test-blue;
            }  
            img{   
                position:relative;
                bottom:2.2rem;
                width:300px;
                object-fit: contain;    
                height: 25rem; 
            }
            p{
                margin-top: 1rem;
            }
    }
}

@media(min-width:768px){
    .split{
&-piece{
    h1{
        font-size:2rem;    
        width:90%;
        margin: 0rem 0rem;  
    }
    p{
      font-size:1.5rem;
      font-weight:500
   }
}
    }

}
@media(min-width:1030px){
    .split{
        margin: 0rem 0rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &-piece{
                p{
                    font-size:1rem;
                    margin-top:0rem;
                    max-width:35vw;
                 }
                     h1{
        font-size:2rem;    
        width:90%;
        margin: 0rem 0rem;  
    }
        }
        div{
            text-align: center;
            margin: 2rem 1rem;
            width:46vw;
        }
    }
}